body{
    background: #e5e5e5;
    font-family: Roboto, sans-serif;
    width: 1600px;
    border: 1px solid;
}
.top-line{
    position: absolute;
    width: 1600px;
    height: 80px;
    margin-left: 0px;
    margin-top: 0px;
    border: 1px solid;
    border-color: #ececec;
    background: #ffffff;    
}
.logo{
    position: absolute;
    width: 145px;
    height: 31px;
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing:0.03em;
    color: #2196f3;   
}
a{
    text-decoration: none;
}
.logo-top{
    margin-left: 215px;
    margin: top 24px;
    border: #2196f3 1px solid;
}
.menu{
    position: absolute;
    width: 281px;
    height: 16px;
    margin-left: 453px;
    margin-top: 20px;    
}
.menu ul li{
    
    display: inline;   
    padding-left: 5px;
    padding-right: 5px;   
}
.email{
    position: absolute;
    width: 135px;
    height: 16px;
    margin-left: 1078px;
    margin-top: 32px;
}
.phone{
    position: absolute;
    width: 118px;
    height: 16px;
    margin-left: 1263px;
    margin-top: 32px;
}
.content-title{
    position: absolute;
    width: 1600px;
    height: 600px;
    margin-left: -4px;
    margin-top: 80px;
    background: #2f303a;
}
.title{
    position: absolute;
    width: 696px;
    height: 120px;
    margin-left: 448px;
    margin-top: 280px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
}

.button{
    position: absolute;
    width: 266px;
    height: 50px;
    margin-left: 666px;
    margin-top: 430px;
    background: #2193f3;
    border-radius: 4px;;    
    align-items: center;
}
.button p{    
    display: flex;
    width: 197px;
    height: 30px;
    color: #ffffff;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    
    margin-left: 40px;       
}
.skills{
    position: absolute;
    width: 1170px;
    height: 122px;
    margin-left: 215px;
    margin-top: 775px;
}.our-work{
    position: absolute;
    width: 1600px;
    height: 648px;
    margin-left: 0px;
    margin-top: 991px;
    border: 1px solid red;
}
.desktop{
    display: flex;   
    width: 373.16px;
    height: 323.7px;
    margin-left: 215px;
    margin-top: 1092.3px;
}
.laptop{
    display: flex;   
    width: 373.16px;
    height: 323.7px;
    margin-left: 618.42px;
    margin-top: 1092.3px;
}
.tablet{
    display: flex;   
    width: 373.16px;
    height: 323.7px;
    margin-left: 1015px;
    margin-top: 1092px;
}
.team{
    position: absolute;
    width: 1600px;
    height: 648px;
    margin-left: 0px;
    margin-top: 1510px;
}
.footer{
    position: absolute;
    width: 1600px;
    height: 252px;
    margin-left: 0px;
    margin-top: 2158px;
}